body {
background: #007fc7;

}

#conteiner {
    background: #fff;
    width: 800px;
    margin: 10px auto;
    padding: 10px;

}
h1 {
    /*posivionamento estatico é o padrão das tags*/
    position: static;
}

p {
    width: 300px;
  
}
.relative {
    border: 1px solid red;
    position: relative;
    /*top, left. right, botton,*/
    /*pode usar medidas negativas para formatar sua posição*/
    left: 400px;
    bottom: 125px;
}