.conteudo {
    background: blue;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
  
}
/*
    O clear limpa o fluxo flutuante
    left, right, both, none
*/
.clear {
    clear: both;
}

.principal {
    border: 5px solid red;
    background: green;
}

/*
.conteudo1 {
    background: red;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    float: none;
}
    /*right, left, none*/