/*Modelo de caixa praticas

.conteudo1 {
    border: 1px solid red;
    width: 130px;
    
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
    padding: 20px 10px;
    
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    margin: 10px 10px;
}
.conteudo2 {
    border: 1px solid blue;
    width: 130px;
}*/

/*Noticias*/
.noticia {
    background: #f9f9f9;
    border: 1px solid black;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    margin:auto;
    
    
}
h2 {
    margin: 0px;
}