/*Limpando formatações padrão*/
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}
#cabecalho {
    background: rgb(225, 225, 11);
}
a {
    display: inline;
    border: 1px solid red;
    
}