/*Projeto chalé hotel
*********************/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', helvetica, sans-serif;
}

#logo {
    background: url(../imagens/topo-imagem-principal.png) no-repeat top left;
    height: 250px;

}

#navbar {
    height: 250px;
    background: url(../imagens/topo-imagem-lateral.png) no-repeat top right;
    
}